//definicion de variables
$MyPrimary: blue;
$Mysecundary: red ;
$Myinfo: green ;
$Mydark: yellow ;

$myBgColorLight: rgb(126, 104, 253);


$myBgColorLight2: rgb(30, 30, 48);

$boxshadow: 4px 3px 6px 0px rgb(61, 60, 60);