//definicion de variables
$myPrimary: rgb(108, 238, 231);
$mysecundary: white ;
$myinfo: rgb(198, 185, 255) ;
$mydark: black ;

$myBgColorLight: rgb(150, 127, 252);

$myBgColorLight2: rgb(20, 18, 29);

$myBgColorLight3: rgb(198, 185, 255);

$boxshadow: 4px 3px 2px 2px rgb(37, 26, 37);