footer{
    @include margin (0px, 0px, 0px, 40px);
    text-align: center;

    section{
        display: grid;
        align-items: center;
        justify-content: center;
        gap:8px;
        grid-template-areas: "section1 section1"
                                "section2 section2";

    div:nth-child(1){
        grid-area: section1;
    }
        div:nth-child(2){
            grid-area: section2;
        }
    }

    i{
        @include padding(10px)
    }  
}
