
main{
    @include margin (0px, 0px, 0px, 80px);
    
    #servicios{
        @include margin (0px, 0px, 0px, 80px);

        .row div{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $myBgColorLight;
            transition: ease-in-out 1s;
            
                &:hover{
                    transform: scale(1.1);
                }

            i{
                font-size: 35px;
                @include padding (10px);
            }
        }
    }

    #clientes{
        .row div{
            background-color: $myBgColorLight;
            @include padding (22px);

            img{
                box-shadow: $boxshadow ;
                transition: ease-in-out 1s;
                &:hover{
                    transform: scale(1.1);
                    filter: brightness(80%);
                }
            }

            display: flex;
            flex-direction: column;
            align-items: center;
           
        }
    }

}