@media all and (max-width:660px){
    
    header .Inicio{
        display: grid;
        grid-template-areas: "img img"
                            "contacto contacto";
        grid-template-columns: 100%;
        grid-template-rows: 54% 50%;
        width: 90% ;
        @include paddings (1%, 1%, 0%, 3%);
        
        figure{
            grid-area: img;
            @include paddings (1%, 1%, 0%, 3%);
            padding-top: 2%;
            width: 100%;
        }

        div{
            grid-area: contacto;
            width: 100%;
        }
    }
}

@media all and (max-width:660px){
    
    footer section{
        display: grid;
        grid-template-areas: "section1 section1"
                            "section2 section2";
        grid-template-columns: 40%;
        grid-template-rows: 55% 55%;
        width: 100% ;
        gap:15px;
        @include paddings (1%, 1%, 0%, 3%);
        
        div:nth-child(1){
            grid-area: section1;
        }
        div:nth-child(2){
            grid-area: section2;
        }
    }
}